<fieldset>
<%= render "shared/error_messages", :target => @user %>

	<!-- User-name input-->
    <div class="control-group">
        <%= form.label :name, :class=> "control-label" %>
        <div class="controls">
			<%= form.text_field :name, :class=> "input-xlarge", :placeholder=> "Ex. Chitresh Goyal" %>
            <p class="help-block"></p>
        </div>
    </div>

	<!-- User-email input-->
    <div class="control-group">
        <%= form.label :email, :class=> "control-label" %>
        <div class="controls">
			<%= form.text_field :email, :class=> "input-xlarge", :placeholder=> "Ex. chitresh@gmail.com" %>
            <p class="help-block"></p>
        </div>
    </div>

	<!-- User-login input-->
    <div class="control-group">
        <%= form.label :login, :class=> "control-label" %>
        <div class="controls">
			<%= form.text_field :login, :class=> "input-xlarge", :placeholder=> "Ex. chitresh@gmail.com" %>
            <p class="help-block"></p>
        </div>
    </div>

	<!-- User-password input-->
    <div class="control-group">
        <%= form.label :password, :class=> "control-label" %>
        <div class="controls">
			<%= form.text_field :password, :class=> "input-xlarge", :placeholder=> "Ex. abc@12_3" %>
            <p class="help-block"></p>
        </div>
    </div>

	<!-- User-confirm-password input-->
    <div class="control-group">
        <%= form.label :password_confirmation, :class=> "control-label" %>
        <div class="controls">
			<%= form.text_field :password_confirmation, :class=> "input-xlarge", :placeholder=> "Ex. abc@12_3" %>
            <p class="help-block"></p>
        </div>
    </div>
</fieldset>

