<div class="container"> 
	<div class="well">
		<h3>Editing user</h3>
		
		<%= link_to 'Back', user_path, :class=> "btn btn-success btn-small" %>
		
		<%= form_for(@user,:html => {:multipart => true, :class=> "form-horizontal" }) do |f| %>
			<%= f.file_field :profile_pic %>
			<%= render :partial => "form",  :object => f, :locals => { :user => @user } %>
			<%= f.submit "Update", :class=> "btn btn-primary pull-right" %>
			
		<% end %>
	
	</div>
</div>
