<h3>Assign role users</h3>

<%#= link_to "New user", new_user_path, :class=>"btn btn-primary" %>
<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Login</th>
          <th>Email</th>
          <th>Role</th>
          <th>Last Login</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
		<% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name.capitalize %></td>
          <td><%= user.login %></td>
          <td><%= user.email %></td>
          <td>
			<%= collection_select :user, user.id, @roles, :id, :name,{:selected => user.role_id}, {:onchange=>"update_role(this.value,this.id);", :id => user.id}  %>
			<span id="success"></span>
          </td>
          <td><%= time_ago_in_words(user.last_login_at) + " ago" unless user.last_login_at.nil? %></td>
          <td><%#= link_to "#{user.name} #{user.sku}", chitresh_url(:name=>"#{user.name}", :id=>"#{user.id}") %>
			  <%= link_to(user_path(user)) do %>
			  <i class="icon-eye-open icon-black"></i>
			  <% end %>
			  <%= link_to(edit_user_path(user)) do %>
			  <i class="icon-edit icon-black"></i>
			  <% end %>
			  <%= link_to(user, method: :delete, data: { confirm: 'Are you sure?' }) do %>
			  <i class="icon-trash"></i>
			  <% end %>	
          </td>
        </tr>
		<% end %>
      </tbody>
    </table>
</div>


<script>
function update_role(role_id,user_id){
	
	var identifier = $("#"+user_id);
	$.ajax({
	    url: "update_user_role",
	    type: "POST",
	    dataType: "json",
	    data: {'role_id': role_id,
	    		'user_id': user_id
	    },
	    success: function(data)
		{
		   identifier.parent().find('#success').html(data.html + data.message);
		}
	});
};
</script>
 
