<div class="container">
<h3>Roles</h3>
<%= link_to "New role", new_role_path, :class=>"btn btn-primary" %>
    <table class="table well">
      <thead>
        <tr>
          <th>Role Id</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
		<% @roles.each do |role| %>
        <tr>
          <td><%= role.id %></td>
          <td><%= role.name %></td>
	      <td><%= link_to(edit_role_path(role)) do %>
			  <i class="icon-edit icon-black"></i>
			  <% end %>
			  <%= link_to(role, method: :delete, data: { confirm: 'Are you sure?' }) do %>
			  <i class="icon-trash"></i>
			  <% end %>	
          </td>
        </tr>
		<% end %>
      </tbody>
    </table>
</div>
