<h2>Listing products</h2>
<%#= table_for(@products) do |product|
#  product.data :actions=>:all
# end %>
<%= link_to "New Product", new_product_path, :class=>"btn btn-primary" %>
<div class="well">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Sku</th>
          <th>Name</th>
          <th>Brand</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
		<% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.sku %></td>
          <td><%= product.name %></td>
          <td><%= product.brand %></td>
          <td><%= product.price %></td>
          <td><%= product.quantity %></td>
          <td><%#= link_to "#{product.name} #{product.sku}", chitresh_url(:name=>"#{product.name}", :id=>"#{product.id}") %>
			  <%= link_to(product_path(product)) do %>
			  <i class="icon-eye-open icon-black"></i>
			  <% end %>
			  <%= link_to(edit_product_path(product)) do %>
			  <i class="icon-edit icon-black"></i>
			  <% end %>
			  <%= link_to(product, method: :delete, data: { confirm: 'Are you sure?' }) do %>
			  <i class="icon-trash"></i>
			  <% end %>	
          </td>
        </tr>
		<% end %>
      </tbody>
    </table>
</div>