<div class="row">
    <div class="span4 offset4">
      <div class="well">
        <legend>Login</legend>
		<%= form_for @user_session, :as => :user_session, :url => { :action => "create" } do |f| %>
            <% if flash[:notice] %>
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">x</a><%= flash[:notice] %>
            </div>   
            <% end %>
            <%= render "shared/error_messages", :target => @user_session %>   

            <%= f.text_field :login, :class=>"span3", :placeholder=> "Login" %>
            <%= f.password_field :password, :class=>"span3", :placeholder=> "Password" %>

            <label class="checkbox">
                <%= f.check_box :remember_me %><%= f.label :remember_me %>
            </label>
			<%= f.submit "Login", :class=> "btn-info btn" %>
        <% end %>    
      </div>
    </div>
</div>