<!DOCTYPE html>
<html lang="en">
<head>
  <title>PSI Blog</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
    
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="navbar"> 
	  <div class="navbar-inner"> 
	    <div class="container" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
	      
	      <button type="button" class="btn btn-navbar"> 
	        <span class="icon-bar"></span> 
	        <span class="icon-bar"></span> 
	        <span class="icon-bar"></span> 
	      </button> 
	    	<!-- Blog-navbar -->
			<%= link_to("PSI Blog", blog_path, :class=>"brand") %>
					
	      <div class="nav-collapse collapse"> 
	        <ul class="nav"> 

			<% if !current_user %>
				<!-- User-logout-navbar -->
				<li><%= link_to "Sign Up", signup_path %></li>
				<li class="active"><%= link_to "Log In", login_path %></li>
			<% else %>

				<!-- Products-dropdown-navbar -->  			
				<li class="dropdown"> 
					<%= link_to("#",:class=>"dropdown-toggle", :'data-toggle' => "dropdown") do %>
					Product <b class="caret"></b>
					<% end %>
				    <ul class="dropdown-menu"> 
				      <li>
						<%= link_to(products_path) do %>
					  	<i class="icon-align-justify"></i>	<strong>Product List</strong></a>
						<% end %>
					  </li> 
				      <li>
				  		<%= link_to(new_product_path) do %>
				  		<i class="icon-glass"></i> 	<strong>New Product</strong></a>
				  		<% end %>
				  	  </li> 
				      <li class="divider"></li> 
				    </ul> 
				</li>
				
				<!-- Blog-Post-navbar-dropdown -->
				<li class="dropdown"> 
					<%= link_to("#",:class=>"dropdown-toggle", :'data-toggle' => "dropdown") do %>
					<i class="icon-bold"></i>  Blog Post <b class="caret"></b>
					<% end %>
				    <ul class="dropdown-menu"> 
				    	<!-- Create-Post-navbar -->
						<li>
							<%= link_to(new_post_path) do %>
							<!--<i class="icon-globe"></i>-->
							<strong>Create Post</strong>
							<% end %>
						</li>	 
				    	<!-- View-My-Post-navbar -->
						<li>
							<%= link_to(my_posts_path) do %>
							<!--<i class="icon-glass"></i>--> 	
							<strong>My Posts</strong></a>
							<% end %>
						</li> 
				      <li class="divider"></li>
				    </ul> 
				</li>
				
				<!-- Assign-Roles -->
				<li>
					<%= link_to(role_user_path) do %>
					<i class="icon-user"></i> 	<strong>Assign Roles</strong></a>
					<% end %>
				</li>

				<!-- Settings -->

				<li class="dropdown"> 
					<%= link_to("#",:class=>"dropdown-toggle", :'data-toggle' => "dropdown") do %>
					<i class="icon-wrench"></i>  Settings <b class="caret"></b>
					<% end %>
				    <ul class="dropdown-menu"> 
				      <li>
						<%= link_to(roles_path) do %>
					  	<i class="icon-align-justify"></i>	<strong>Roles</strong></a>
						<% end %>
					  </li> 
				      <li>
				  		<%= link_to(features_path) do %>
				  		<i class="icon-glass"></i> 	<strong>Features</strong></a>
				  		<% end %>
				  	  </li> 
				      <li class="divider"></li>
				      <li>
				  		<%= link_to(set_permission_path) do %>
				  		<i class="icon-th"></i> 	<strong>Set Permission</strong></a>
				  		<% end %>
				  	  </li> 
				    </ul> 
				</li>
				
				<!-- Logout-navbar -->
				<li>
					<%= link_to(logout_path, :method => :delete, :confirm => "Are you sure you want to logout?") do %>
					<i class="icon-off"></i>  		
					<strong>Logout</strong>
				<% end %>
				</li>
				
				<!-- User-account-navbar -->
				<li>
					<%= link_to(account_path(current_user)) do %>
					<%= image_tag current_user.profile_pic.url(:thumb), {:height => 30, :width => 30, :class => "img-polaroid"}%>
					<strong>My Account</strong>
					<% end %>
				</li>

			<% end %>

	        </ul> 
	      </div><!--/.nav-collapse --> 
		
	    </div> 
	  </div> 
	</div> 
		
	<div class="alert alert-block">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<%= pluralize User.logged_in.count, "user" %> <%= current_user.blank? ? "" :"currently" %> logged in !
		<!-- This based on last_request_at, if they were active < 10 minutes they are logged in -->
	</div>
    
<%= yield %>

	<div class="container"> 
	  <hr> 
	  <footer> 
	    <p> http://bootswatch.com/    http://bootsnipp.com &copy; Company 2013</p> 
	  </footer> 
	</div> <!-- /container -->

</body>
</html>
